{sys, [
	{lib_dirs, ["/home/shish/Projects/"]},
	{rel, "seagame", "0.0.0",
		[
		kernel,
		stdlib,
		%{ppool, permanent},
		{seagame, transient}
		]
	},
	{boot_rel, "seagame"},
	{relocatable, true},
	{profile, standalone},
%	{app, ppool, [
%		{vsn, "1.0.0"},
%		{app_file, all},
%		{debug_info, keep}]},
	{app, seagame, [{vsn, "0.0.0"},
		{incl_cond, include},
		{app_file, strip},
		{debug_info, strip}
		]}
]}.
